<!DOCTYPE html>
<html lang="ja">

<head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title>{{ title }}</title>
        <!-- <link href="/static/css/bootstrap.min.css" rel="stylesheet">
        <link href="/static/css/style.css" rel="stylesheet">
        <script src="/static/js/main.js"></script> -->
</head>

<body class="bg-light">
        <div class="main">
                <p>{{message}}</p>
                <form action="/CommentHistory" method="post">
                        <button type="submit">データベース参照</button>
                        {% raw xsrf_form_html() %}
                </form>
                <!-- <form action="/CommentStart" method="post">
                        <button type="submit">コメント受付開始</button>
                </form> -->
        </div>
        <!-- <script src="/static/js/jquery-3-4-1.min.js"></script>
        <script src="/static/js/bootstrap.min.js"></script>
        <script src="/static/js/bootstrap-arrows.js"></script> -->
</body>

</html>
