{% extends "base.html" %}
{% block title %}PSS | TOP{% end %}
{% block content %}
<div class="uk-margin-large-left uk-margin-small uk-margin-medium-top">
    <h1>ようこそ Presentation Support Systemへ!</h1>
    <div class="uk-margin-medium-left">
        <h2>Presentation Support Systemとは？</h2>
        <p class="uk-margin-small-left">プレゼンテーションをする際に便利な機能を提供するシステムとなります。</p>
        <h2>機能</h2>
        <ul class="uk-margin-remove-top">
            <li>リアルタイムのコメントオーバーレイ</li>
            <li>スライド操作</li>
            <li>ポインター(未実装)</li>
        </ul>
        <h2>使用方法</h2>
        <div class=" uk-margin-small-left">
            <h3 class="uk-margin-remove-top">発表者</h3>
            <ol class="uk-margin-remove-top">
                <li>アカウントを作成</li>
                <li>専用クライアントをダウンロード・実行</li>
                <li>クライアントの指示に従ってスライドを設定</li>
                <li>クライアントからログイン</li>
                <li>プレゼンスタート！！！</li>
            </ol>
            <h3 class="uk-margin-remove-top">閲覧者</h3>
            <ol class="uk-margin-remove-top">
                <li>プレゼンが開始されたらコメント入力ページにアクセス</li>
                <li>コメントを送信！</li>
            </ol>
        </div>
    </div>
</div>
{% end %}