{% extends "base.html" %}
{% block title %}PSS | TOP{% end %}
{% block content %}
<div class="uk-margin-large-left">
    <form action="/Login" method="post">
        <label class="">
            <h3 class="">ID</h3>
            <input class="uk-input uk-width-1-2@s" type="text" name="LoginName" id="LoginName">
        </label>
        <label class="">
            <h3 class="">PassWord</h3>
            <input class="uk-input uk-width-1-2@s" type="password" name="LoginPass" id="LoginPass">
        </label>
        <button class="uk-margin-small uk-button uk-button-default" type="submit">ログイン</button>
	<h4 class="uk-margin-remove-vertical">{{message}}</h4>
        {% raw xsrf_form_html() %}
    </form>
</div>
{% end %}
